// Variables
@import "variables";

body {
  background-color: $bcg_color;
}

.logo {
  margin: 1em auto;
}

.btn_submit {
  width: 100%;
}

.card-hover{
  color : #000;
  &:hover {
    color: #1e88e5;
  }
}