// Variables
@import "variables";

body {
  background-color: $bcg_color;
}

.logo {
  margin: 1em auto;
}

.btn_submit {
  width: 100%;
}

.card-hover {
  color: #000;
  &:hover {
    color: $main_color;
  }
}

.page-footer {
  background-color: $main_color;
}

nav {
  background-color: $main_color;
}